/**
 * Created by Jose Kim on 9/27/2017.
 */
@media (max-width: 25em) {
  .pop {
    width: 10%; } }

/**
 * Created by Jose Kim on 9/27/2017.
 */
body {
  background-color: #f2f6f8; }

body, h1, h2, h3, h4, h5, h6, input[type="text"], input[type="password"], input[type="email"], textarea, select, input[type="button"], input[type="submit"], button, span, i, strong, p, a {
  font-family: "Raleway","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: none;
  color: #607d8b; }

.ui-container {
  width: 100%;
  padding: 3rem 4rem;
  background-clip: content-box; }
  .ui-container .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .ui-container .wrapper .refine {
      flex-basis: 20%; }
      .ui-container .wrapper .refine > div {
        background: white;
        padding: 1rem 0.5rem;
        border-radius: 6px; }
        .ui-container .wrapper .refine > div h5 {
          margin-bottom: 1.5rem; }
        .ui-container .wrapper .refine > div form p {
          margin: 0.2rem; }
          .ui-container .wrapper .refine > div form p .refine-submit {
            display: block;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            border: none;
            padding: 5px 0; }
        .ui-container .wrapper .refine > div .built {
          margin: 1rem 0;
          border-top: 1px solid #e4e4e4;
          padding: 1rem 0; }
          .ui-container .wrapper .refine > div .built > a {
            width: 100%;
            display: block;
            text-decoration: none;
            position: relative;
            margin-top: 1rem; }
            .ui-container .wrapper .refine > div .built > a img {
              width: 100%; }
            .ui-container .wrapper .refine > div .built > a .b-hover {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              background: rgba(0, 0, 0, 0.7);
              opacity: 0;
              transition: opacity 500ms; }
              .ui-container .wrapper .refine > div .built > a .b-hover span {
                color: white; }
            .ui-container .wrapper .refine > div .built > a:hover .b-hover {
              opacity: 1; }
          .ui-container .wrapper .refine > div .built .add-site {
            margin-top: 1rem; }
            .ui-container .wrapper .refine > div .built .add-site a {
              display: block;
              border: 1px solid lightgrey;
              padding: 4px;
              text-align: center;
              text-decoration: none;
              text-transform: uppercase;
              font-size: 0.9rem;
              transition: all 500ms; }
              .ui-container .wrapper .refine > div .built .add-site a:hover {
                background: #188de1;
                color: whitesmoke;
                border-color: #188de1; }
    .ui-container .wrapper .items-wrapper {
      flex-basis: 75%; }
      .ui-container .wrapper .items-wrapper .item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: white;
        box-shadow: 0 1px 10px -2px lightgrey;
        border-radius: 6px;
        margin-bottom: 2rem;
        transition: background 500ms; }
        .ui-container .wrapper .items-wrapper .item .item-img {
          flex-basis: 44%; }
          .ui-container .wrapper .items-wrapper .item .item-img img {
            width: 100%; }
        .ui-container .wrapper .items-wrapper .item .item-desc {
          flex-basis: 52%;
          padding: 2.5rem 1rem; }
          .ui-container .wrapper .items-wrapper .item .item-desc p {
            margin-top: 1rem;
            font-size: 0.9rem; }
          .ui-container .wrapper .items-wrapper .item .item-desc .chips span {
            display: inline-block;
            padding: 4px 15px;
            border: 1px solid #f3f3f3;
            margin-right: 8px;
            transition: all 500ms; }
            .ui-container .wrapper .items-wrapper .item .item-desc .chips span:hover {
              background: #4285f4;
              color: whitesmoke; }
            @media (max-width: 25em) {
              .ui-container .wrapper .items-wrapper .item .item-desc .chips span {
                margin-bottom: 10px; } }
          .ui-container .wrapper .items-wrapper .item .item-desc .action {
            margin-top: 1rem;
            border-top: 1px solid #e9e9e9;
            padding-top: 0.5rem; }
            .ui-container .wrapper .items-wrapper .item .item-desc .action span {
              display: inline-block;
              margin-right: 8px; }
            .ui-container .wrapper .items-wrapper .item .item-desc .action strong {
              display: inline-block;
              margin-right: 1rem; }
            .ui-container .wrapper .items-wrapper .item .item-desc .action a {
              text-decoration: none;
              display: inline-block;
              padding: 3px 14px;
              background: #0e90f4;
              border-radius: 10px;
              color: white; }
              @media (max-width: 25em) {
                .ui-container .wrapper .items-wrapper .item .item-desc .action a {
                  margin-top: 10px; } }
        @media (max-width: 51.875em) {
          .ui-container .wrapper .items-wrapper .item {
            display: block; }
            .ui-container .wrapper .items-wrapper .item .item-img {
              width: 100%; }
            .ui-container .wrapper .items-wrapper .item .item-desc {
              width: 100%; } }
        .ui-container .wrapper .items-wrapper .item:hover {
          background: transparent; }
  @media (max-width: 68.125em) {
    .ui-container {
      padding: 3rem 1rem; } }
  @media (max-width: 62.5em) {
    .ui-container .wrapper .refine {
      display: none; }
    .ui-container .wrapper .items-wrapper {
      flex-basis: 100%; } }

.ui-pagination {
  width: 100%;
  margin: 4rem 0;
  display: flex;
  justify-content: center; }
  .ui-pagination a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    background: white;
    transition: all 500ms; }
    .ui-pagination a:hover {
      color: white;
      background: #18a2f4; }
    .ui-pagination a.active {
      color: white;
      background: #18a2f4; }

/* -- footer -- */
.footer {
  width: 100%;
  background: rgba(0, 16, 96, 0.05);
  padding: 3.5rem 5rem 0.5rem 5rem;
  border-top: 1px solid lightgrey;
  margin-top: 3rem; }

.footer .footer-sec {
  width: 100%; }

.footer .footer-sec h6 {
  font-weight: 700;
  color: black; }

.footer .footer-sec a {
  display: block;
  font-size: 0.96rem;
  padding: 2px 0; }

.footer .footer-sec span {
  display: block;
  font-size: 0.9rem;
  padding: 2px 0; }

.footer .footer-sec .footer-social {
  margin-top: 1rem; }

.footer .footer-sec .footer-social i {
  display: inline-block;
  margin-right: 0.5rem;
  color: #b6b6b6;
  cursor: pointer;
  transition: all 500ms; }

.footer .footer-sec .footer-social i:hover {
  color: #ff008f; }

.footer .footer-sec form {
  width: 100%;
  display: flex;
  margin-top: 0.8rem; }

.footer .footer-sec form input {
  flex-basis: 85%;
  border-radius: 0;
  box-shadow: none; }

.footer .footer-sec form .ui-btn {
  border-radius: 0;
  padding: 0.4rem 2rem;
  height: 49px;
  box-shadow: none; }

.footer .footer-sec form .ui-btn i {
  color: whitesmoke; }

@media (max-width: 47.5em) {
  .footer .footer-sec {
    text-align: center; }

  .footer .footer-sec h6 {
    text-align: center; } }
@media (max-width: 62.5em) {
  .footer .footer-sec {
    margin-bottom: 2rem; } }
.footer .footer-strip {
  border-top: 1px solid #cdcdcd;
  padding: 1rem 0;
  margin-top: 2.5rem; }

.footer .footer-strip .footer-logo {
  margin: 0;
  font-family: 'Tangerine', cursive;
  font-size: 2rem; }

.footer .footer-strip nav {
  margin: 0;
  text-align: center; }

.footer .footer-strip nav a {
  display: inline-block;
  font-weight: 600;
  font-size: 0.94rem;
  margin-right: 0.5rem; }

.footer .footer-strip .copyright {
  margin: 0; }

@media (max-width: 47.5em) {
  .footer .footer-strip .footer-logo {
    text-align: center;
    margin-bottom: 1rem; }

  .footer .footer-strip .copyright {
    text-align: center; } }
@media (max-width: 25em) {
  .footer {
    padding: 3.5rem 1rem 0.5rem 1rem; } }
/* -- end footer -- */
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px; }

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer; }

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\f14a";
  font-family: "FontAwesome", sans-serif;
  position: absolute;
  top: .1em;
  left: 0.06em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #17a3ff;
  transition: all .2s; }

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd; }

[type="checkbox"]:disabled:checked + label:after {
  color: #999; }

[type="checkbox"]:disabled + label {
  color: #aaa; }

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted #17a3ff; }

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9 !important; }

.radio {
  margin: 0.5rem; }

.radio input[type="radio"] {
  position: absolute;
  opacity: 0; }

.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease; }

.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4; }

.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE; }

.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4; }

.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0; }

/* -- end inputs -- */
.index-banner {
  width: 100%;
  min-height: 500px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/banner.jpg") no-repeat bottom center;
  background-size: cover;
  position: relative;
  margin-top: 73px;
  overflow: hidden; }
  .index-banner .beacon-ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 2rem 2rem 2rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/beac4.png") no-repeat bottom center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .index-banner .beacon-ring h1 {
      text-align: center;
      color: whitesmoke;
      font-family: 'Quicksand', sans-serif;
      font-weight: 800; }
    .index-banner .beacon-ring p {
      color: whitesmoke;
      text-align: center; }
    .index-banner .beacon-ring .ui-select {
      width: 100%;
      padding: 0 14rem; }
      .index-banner .beacon-ring .ui-select > div {
        padding: 5px 12px;
        border-radius: 25px;
        background: white;
        display: flex; }
        .index-banner .beacon-ring .ui-select > div .sel {
          flex-basis: 43%; }
          .index-banner .beacon-ring .ui-select > div .sel .nice-select {
            border: none; }
          .index-banner .beacon-ring .ui-select > div .sel select.wide {
            width: 100%; }
        .index-banner .beacon-ring .ui-select > div .search-btn {
          flex-basis: 13%;
          text-align: center;
          text-transform: uppercase;
          border: none;
          background: transparent;
          outline: none;
          cursor: pointer;
          transition: all 500ms; }
          .index-banner .beacon-ring .ui-select > div .search-btn:hover {
            color: #ff0096; }
        @media (max-width: 43.75em) {
          .index-banner .beacon-ring .ui-select > div {
            padding: 15px 12px;
            border-radius: 2px;
            display: block; }
            .index-banner .beacon-ring .ui-select > div .sel {
              width: 100%;
              min-height: 35px;
              margin-bottom: 1rem; }
            .index-banner .beacon-ring .ui-select > div .search-btn {
              width: 100%;
              border-top: 1px solid #f0f0f0;
              padding-top: 15px; } }
      @media (max-width: 60.625em) {
        .index-banner .beacon-ring .ui-select {
          padding: 0 3rem; } }
      @media (max-width: 25em) {
        .index-banner .beacon-ring .ui-select {
          padding: 0 0.5rem; } }
    @media (max-width: 25em) {
      .index-banner .beacon-ring {
        padding: 0 1rem 2rem 1rem; } }

.ui-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 100%;
  background: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.4); }
  .ui-menu .logo div {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
    .ui-menu .logo div a {
      text-decoration: none;
      display: block;
      border-radius: inherit;
      width: 100%;
      height: 100%; }
      .ui-menu .logo div a img {
        width: 100%;
        border-radius: inherit; }
  .ui-menu .menu {
    margin: 0;
    display: flex; }
    .ui-menu .menu > li {
      list-style: none;
      margin-right: 26px; }
      .ui-menu .menu > li > a {
        text-decoration: none;
        color: #607d8b;
        transition: all 500ms; }
        .ui-menu .menu > li > a i {
          color: #607d8b;
          transition: all 500ms; }
        .ui-menu .menu > li > a:hover {
          color: #ff0067; }
          .ui-menu .menu > li > a:hover i {
            color: #ff0067; }
      .ui-menu .menu > li.dropdown {
        position: relative; }
        .ui-menu .menu > li.dropdown ul {
          position: absolute;
          top: 35px;
          right: -28px;
          width: 200px;
          background: white;
          border-radius: 6px;
          padding: 10px 0;
          box-shadow: 2px 2px 15px -1px grey;
          opacity: 0;
          visibility: hidden;
          transform: translateY(20px);
          transition: all 600ms; }
          .ui-menu .menu > li.dropdown ul li {
            list-style: none; }
            .ui-menu .menu > li.dropdown ul li a {
              display: block;
              padding: 10px 15px;
              border-bottom: 1px solid #e8e8e8;
              text-decoration: none;
              transition: all 500ms; }
              .ui-menu .menu > li.dropdown ul li a:hover {
                background: whitesmoke; }
          .ui-menu .menu > li.dropdown ul:before {
            content: '';
            position: absolute;
            top: -15px;
            right: 8%;
            width: 0;
            height: 0;
            border-bottom: 15px solid white;
            border-right: 15px solid transparent;
            border-left: 15px solid transparent; }
        .ui-menu .menu > li.dropdown:hover ul {
          opacity: 1;
          visibility: visible;
          transform: translateY(0); }
    @media (max-width: 67.5em) {
      .ui-menu .menu {
        display: none; } }
  .ui-menu .side-menu-toggle {
    display: none;
    color: #607d8b;
    font-size: 38px;
    cursor: pointer;
    transition: all 500ms; }
    .ui-menu .side-menu-toggle:hover {
      color: #ff0089; }
    @media (max-width: 67.5em) {
      .ui-menu .side-menu-toggle {
        display: block; } }
  @media (max-width: 25em) {
    .ui-menu {
      padding: 0 1.5rem; } }

.side-menu {
  position: fixed;
  top: 0;
  left: -245px;
  width: 220px;
  height: 100%;
  z-index: 2000;
  background: white;
  box-shadow: 1px 0 15px -1px gray;
  transition: left 600ms; }
  .side-menu .side-logo {
    width: 100%;
    padding: 10px 2rem;
    background: whitesmoke;
    border-bottom: 1px solid lightgrey; }
    .side-menu .side-logo a {
      text-decoration: none;
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%; }
      .side-menu .side-logo a img {
        width: 100%;
        border-radius: inherit; }
  .side-menu .side-menu-c {
    padding: 0;
    position: relative;
    left: 0; }
    .side-menu .side-menu-c li {
      list-style: none;
      margin: 0;
      border-bottom: 1px solid #f1f1f1; }
      .side-menu .side-menu-c li a {
        display: block;
        padding: 13px 13px 13px 35px;
        text-decoration: none;
        transition: all 500ms; }
        .side-menu .side-menu-c li a:hover {
          background: whitesmoke; }
  .side-menu.tgg {
    left: 0; }

/*# sourceMappingURL=app.css.map */
