/**
 * Created by Jose Kim on 9/27/2017.
 */
@media (max-width: 25em) {
  .pop {
    width: 10%; } }

/**
 * Created by Jose Kim on 9/27/2017.
 */
body {
  background-color: #f2f6f8; }

body, h1, h2, h3, h4, h5, h6, input[type="text"], input[type="password"], input[type="email"], textarea, select, input[type="button"], input[type="submit"], button, span, i, strong, p, a {
  font-family: "Raleway","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: none;
  color: #607d8b; }

.index-banner {
  width: 100%;
  min-height: 550px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/banner.jpg") no-repeat bottom center;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  .index-banner .beacon-ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/beac4.png") no-repeat bottom center; }

.ui-menu {
  background: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem; }
  .ui-menu .logo div {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
    .ui-menu .logo div a {
      text-decoration: none;
      display: block;
      border-radius: inherit;
      width: 100%;
      height: 100%; }
      .ui-menu .logo div a img {
        width: 100%;
        border-radius: inherit; }
  .ui-menu .menu {
    margin: 0;
    display: flex; }
    .ui-menu .menu > li {
      list-style: none;
      margin-right: 26px; }
      .ui-menu .menu > li > a {
        text-decoration: none;
        color: #607d8b;
        transition: all 500ms; }
        .ui-menu .menu > li > a i {
          color: #607d8b;
          transition: all 500ms; }
        .ui-menu .menu > li > a:hover {
          color: #ff0067; }
          .ui-menu .menu > li > a:hover i {
            color: #ff0067; }
      .ui-menu .menu > li.dropdown {
        position: relative; }
        .ui-menu .menu > li.dropdown ul {
          position: absolute;
          top: 35px;
          right: -28px;
          width: 200px;
          background: white;
          border-radius: 6px;
          padding: 10px 0;
          box-shadow: 2px 2px 15px -1px grey;
          opacity: 0;
          visibility: hidden;
          transform: translateY(20px);
          transition: all 600ms; }
          .ui-menu .menu > li.dropdown ul li {
            list-style: none; }
            .ui-menu .menu > li.dropdown ul li a {
              display: block;
              padding: 10px 15px;
              border-bottom: 1px solid #e8e8e8;
              text-decoration: none;
              transition: all 500ms; }
              .ui-menu .menu > li.dropdown ul li a:hover {
                background: whitesmoke; }
          .ui-menu .menu > li.dropdown ul:before {
            content: '';
            position: absolute;
            top: -15px;
            right: 8%;
            width: 0;
            height: 0;
            border-bottom: 15px solid white;
            border-right: 15px solid transparent;
            border-left: 15px solid transparent; }
        .ui-menu .menu > li.dropdown:hover ul {
          opacity: 1;
          visibility: visible;
          transform: translateY(0); }
    @media (max-width: 67.5em) {
      .ui-menu .menu {
        display: none; } }
  .ui-menu .side-menu-toggle {
    display: none;
    color: #607d8b;
    font-size: 38px;
    cursor: pointer;
    transition: all 500ms; }
    .ui-menu .side-menu-toggle:hover {
      color: #ff0089; }
    @media (max-width: 67.5em) {
      .ui-menu .side-menu-toggle {
        display: block; } }
  @media (max-width: 25em) {
    .ui-menu {
      padding: 0 1.5rem; } }

.side-menu {
  position: fixed;
  top: 0;
  left: -245px;
  width: 220px;
  height: 100%;
  z-index: 2000;
  background: white;
  box-shadow: 2px 0 15px 1px gray;
  transition: left 600ms; }
  .side-menu .side-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background: whitesmoke;
    border-bottom: 1px solid lightgrey; }
    .side-menu .side-logo a {
      text-decoration: none;
      display: block;
      width: 55px;
      height: 55px;
      border-radius: 50%; }
      .side-menu .side-logo a img {
        width: 100%;
        border-radius: inherit; }
  .side-menu .side-menu-c {
    padding: 0; }
    .side-menu .side-menu-c li {
      list-style: none;
      margin: 0;
      border-bottom: 1px solid #f1f1f1; }
      .side-menu .side-menu-c li a {
        display: block;
        padding: 13px 13px 13px 35px;
        text-decoration: none;
        transition: all 500ms; }
        .side-menu .side-menu-c li a:hover {
          background: whitesmoke; }
  .side-menu.tgg {
    left: 0; }

/*# sourceMappingURL=app.css.map */
