/**
 * Created by Jose Kim on 9/27/2017.
 */
body {
  background-color: #f2f6f8;
}

body, h1, h2, h3, h4, h5, h6, input[type="text"], input[type="password"], input[type="email"], textarea, select, input[type="button"], input[type="submit"], button, span, i, strong, p, a {
  font-family: "Raleway","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: none;
  color: #607d8b; }

.ui-btn{

}

.ui-container{
  width: 100%;
  padding: 3rem 4rem;
  background-clip: content-box;
  .wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .refine{
      flex-basis: 20%;
      &>div{
        background: white;
        padding: 1rem 0.5rem;
        border-radius: 6px;
        h5{
          margin-bottom: 1.5rem;
        }
        form{
          p{
            margin: 0.2rem;
            .refine-submit{
              display: block;
              text-align: center;
              text-transform: uppercase;
              width: 100%;
              border: none;
              padding: 5px 0;
            }
          }
        }
        .built{
          margin: 1rem 0;
          border-top: 1px solid #e4e4e4;
          padding: 1rem 0;
          &>a{
            width: 100%;
            display: block;
            text-decoration: none;
            position: relative;
            img{
              width: 100%;
            }
            margin-top: 1rem;
            .b-hover{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              background: rgba(0,0,0,0.7);
              opacity: 0;
              transition: opacity 500ms;
              span{
                color: white;
              }
            }
            &:hover{
              .b-hover{
                opacity: 1;
              }
            }
          }
          .add-site{
            margin-top: 1rem;
            a{
              display: block;
              border: 1px solid lightgrey;
              padding: 4px; text-align: center;
              text-decoration: none;
              text-transform: uppercase;
              font:{
                size: 0.9rem;
              }
              transition: all 500ms;
              &:hover{
                background: #188de1;
                color: whitesmoke;
                border-color: #188de1;
              }
            }
          }
        }
      }
    }
    .items-wrapper{
      flex-basis: 75%;
      .item{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: white;
        box-shadow: 0 1px 10px -2px lightgrey;
        border-radius: 6px;
        margin-bottom: 2rem;
        transition: background 500ms;
        .item-img{
          flex-basis: 44%;
          img{
            width: 100%;
          }
        }
        .item-desc{
          flex-basis: 52%;
          padding: 2.5rem 1rem;
          h4{}
          p{
            margin-top: 1rem;
            font:{
              size: 0.9rem;
            }
          }
          .chips{
            span{
              display: inline-block;
              padding: 4px 15px;
              border: 1px solid #f3f3f3;
              margin-right: 8px;
              transition: all 500ms;
              &:hover{
                background: #4285f4;
                color: whitesmoke;
              }
              @include mq($mobile, max){
                margin-bottom: 10px;
              }
            }
          }
          .action{
            margin-top: 1rem;
            border-top: 1px solid #e9e9e9;
            padding-top: 0.5rem;
            span{
              display: inline-block;
              margin-right: 8px;
              i{

              }
            }
            strong{
              display: inline-block;
              margin-right: 1rem;
            }
            a{
              text-decoration: none;
              display: inline-block;
              padding: 3px 14px;
              background: #0e90f4;
              border-radius: 10px;
              color: white;
              @include mq($mobile, max){
                margin-top: 10px;
              }
            }
          }
        }
        @include mq(830, max){
          display: block;
          .item-img{
            width: 100%;
          }
          .item-desc{
            width: 100%;
          }
        }
        &:hover{
          background: transparent;
        }
      }
    }
  }
  @include mq(1090, max){
    padding: 3rem 1rem;
  }
  @include mq(1000, max){
    .wrapper{
      .refine{
        display: none;
      }
      .items-wrapper{
        flex-basis: 100%;
      }
    }
  }
}

.ui-pagination{
  width: 100%;
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    background: white;
    transition: all 500ms;
    &:hover{
      color: white;
      background: #18a2f4;
    }
    &.active{
      color: white;
      background: #18a2f4;
    }
  }
}



/* -- footer -- */
.footer {
  width: 100%;
  background: rgba(0, 16, 96, 0.05);
  padding: 3.5rem 5rem 0.5rem 5rem;
  border-top: 1px solid lightgrey;
  margin-top: 3rem; }
.footer .footer-sec {
  width: 100%; }
.footer .footer-sec h6 {
  font-weight: 700;
  color: black; }
.footer .footer-sec a {
  display: block;
  font-size: 0.96rem;
  padding: 2px 0; }
.footer .footer-sec span {
  display: block;
  font-size: 0.9rem;
  padding: 2px 0; }
.footer .footer-sec .footer-social {
  margin-top: 1rem; }
.footer .footer-sec .footer-social i {
  display: inline-block;
  margin-right: 0.5rem;
  color: #b6b6b6;
  cursor: pointer;
  transition: all 500ms; }
.footer .footer-sec .footer-social i:hover {
  color: #ff008f; }
.footer .footer-sec form {
  width: 100%;
  display: flex;
  margin-top: 0.8rem; }
.footer .footer-sec form input {
  flex-basis: 85%;
  border-radius: 0;
  box-shadow: none; }
.footer .footer-sec form .ui-btn {
  border-radius: 0;
  padding: 0.4rem 2rem;
  height: 49px;
  box-shadow: none; }
.footer .footer-sec form .ui-btn i {
  color: whitesmoke; }
@media (max-width: 47.5em) {
  .footer .footer-sec {
    text-align: center; }
  .footer .footer-sec h6 {
    text-align: center; } }
@media (max-width: 62.5em) {
  .footer .footer-sec {
    margin-bottom: 2rem; } }
.footer .footer-strip {
  border-top: 1px solid #cdcdcd;
  padding: 1rem 0;
  margin-top: 2.5rem; }
.footer .footer-strip .footer-logo {
  margin: 0;
  font-family: 'Tangerine', cursive;
  font-size: 2rem; }
.footer .footer-strip nav {
  margin: 0;
  text-align: center; }
.footer .footer-strip nav a {
  display: inline-block;
  font-weight: 600;
  font-size: 0.94rem;
  margin-right: 0.5rem; }
.footer .footer-strip .copyright {
  margin: 0; }
@media (max-width: 47.5em) {
  .footer .footer-strip .footer-logo {
    text-align: center;
    margin-bottom: 1rem; }
  .footer .footer-strip .copyright {
    text-align: center; } }
@media (max-width: 25em) {
  .footer {
    padding: 3.5rem 1rem 0.5rem 1rem; } }

/* -- end footer -- */



/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px; }

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer; }

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\f14a";
  font-family: "FontAwesome", sans-serif;
  position: absolute;
  top: .1em;
  left: 0.06em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #17a3ff;
  transition: all .2s; }

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd; }

[type="checkbox"]:disabled:checked + label:after {
  color: #999; }

[type="checkbox"]:disabled + label {
  color: #aaa; }

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted #17a3ff; }

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9 !important; }

.radio {
  margin: 0.5rem; }
.radio input[type="radio"] {
  position: absolute;
  opacity: 0; }
.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease; }
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4; }
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE; }
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4; }
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0; }

/* -- end inputs -- */