.index-banner{
  width: 100%;
  min-height: 500px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../img/banner.jpg") no-repeat bottom center;
  background-size: cover;
  position: relative;
  margin-top: 73px;
  overflow: hidden;
  .beacon-ring{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 2rem 2rem 2rem;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../img/beac4.png") no-repeat bottom center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
      text-align: center;
      color: whitesmoke;
      font:{
        family: 'Quicksand', sans-serif;
        weight: 800;
      }
    }
    p{
      color: whitesmoke;
      text-align: center;
    }
    .ui-select{
      width: 100%;
      padding: 0 14rem;
      >div{
        padding: 5px 12px;
        border-radius: 25px;
        background: white;
        display: flex;
        .sel{
          flex-basis: 43%;
          .nice-select{
            border: none;
          }
          select{
            &.wide{
              width: 100%;
            }
          }
        }
        .search-btn{
          flex-basis: 13%;
          text-align: center;
          text-transform: uppercase;
          border: none;
          background: transparent;
          outline: none;
          cursor: pointer;
          transition: all 500ms;
          &:hover{
            color: #ff0096;
          }
        }
        @include mq(700, max){
          padding: 15px 12px;
          border-radius: 2px;
          display: block;
          .sel{
            width: 100%;
            min-height: 35px;
            margin-bottom: 1rem;
          }
          .search-btn{
            width: 100%;
            border-top: 1px solid #f0f0f0;
            padding-top: 15px;
          }
        }
      }
      @include mq(970, max){
        padding: 0 3rem;
      }
      @include mq($mobile, max){
        padding: 0 0.5rem;
      }
    }
    @include mq($mobile, max){
      padding: 0 1rem 2rem 1rem;
    }
  }
}
.ui-menu{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 100%;
  background: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  box-shadow: $boxshadow;
  .logo{
    div{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      a{
        text-decoration: none;
        display: block;
        border-radius: inherit;
        width: 100%;
        height: 100%;
        img{
          width: 100%;
          border-radius: inherit;
        }
      }
    }
  }
  .menu{
    margin: 0;
    display: flex;
    &>li{
      list-style: none;
      margin-right: 26px;
      &>a{
        text-decoration: none;
        color: #607d8b;
        transition: all 500ms;
        i{
          color: #607d8b;
          transition: all 500ms;
        }
        &:hover{
          color: #ff0067;
          i{
            color: #ff0067;
          }
        }
      }
      &.dropdown{
        position: relative;
        ul{
          position: absolute;
          top: 35px;
          right: -28px;
          width: 200px;
          z-index: 2000;
          background: white;
          border-radius: 6px;
          padding: 10px 0;
          box-shadow: 2px 2px 15px -1px grey;
          opacity: 0;
          visibility: hidden;
          transform: translateY(20px);
          transition: all 600ms;
          li{
            list-style: none;
            a{
              display: block;
              padding: 10px 15px;
              border-bottom: 1px solid #e8e8e8;
              text-decoration: none;
              transition: all 500ms;
              &:hover{
                background: whitesmoke;
              }
            }
          }
          &:before{
            content: '';
            position: absolute;
            top: -15px;
            right: 8%;
            width: 0;
            height: 0;
            border-bottom: 15px solid white;
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
          }
        }
        &:hover{
          ul{
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
      }
    }
    @include mq(1080, max){
      display: none;
    }
  }
  .side-menu-toggle{
    display: none;
    color: #607d8b;
    font:{
      size: 38px;
    }
    cursor: pointer;
    transition: all 500ms;
    &:hover{
      color: #ff0089;
    }
    @include mq(1080, max){
      display: block;
    }
  }

  .notification-strip{
    position: absolute;
    top: 73px;
    left: 0;
    width: 100%;
    height: 30px;
    background: white;
    box-shadow: $boxshadow;
    padding: 0 3rem;
    overflow: hidden;
    transition: all 600ms;
    &.remove{
      height: 0;
      opacity: 0;
      visibility: hidden;
    }
  }

  @include mq($mobile, max){
    padding: 0 1.5rem;
  }
}
.side-menu{
  position: fixed;
  top: 0;
  left: -245px;
  width: 220px;
  height: 100%;
  z-index: 2000;
  background: white;
  box-shadow: 1px 0 15px -1px gray;
  transition: left 600ms;
  .side-logo{
    width: 100%;
    padding: 10px 2rem;
    background: whitesmoke;
    border-bottom: 1px solid lightgrey;
    a{
      text-decoration: none;
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      img{
        width: 100%;
        border-radius: inherit;
      }
    }
  }
  .side-menu-c{
    padding: 0;
    position: relative;
    left: 0;
    li{
      list-style: none;
      margin: 0;
      border-bottom: 1px solid #f1f1f1;
      a{
        display: block;
        padding: 13px 13px 13px 35px;
        text-decoration: none;
        transition: all 500ms;
        &:hover{
          background: whitesmoke;
        }
      }
    }
  }
  &.tgg{
    left: 0;
  }
}